Repository SSL-Roots/consai_ros2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_flake8, ament_pep257, ament-black, ament_cpplint, ament_uncrustify

.pre-commit-config.yaml:

repos:
  # ROS2 Linters and Formatters
  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        entry: hooks/run_ament_flake8.sh
        language: system
        types: [python]

      - id: ament_pep257
        name: ament_pep257
        entry: hooks/run_ament_pep257.sh
        language: system
        types: [python]

      - id: ament-black
        name: ament_black
        entry: ament_black
        language: system
        types: [python]
        args: [--reformat]

      - id: ament_cpplint
        name: ament_cpplint
        entry: hooks/run_ament_cpplint.sh
        language: system
        files: \.(cpp|hpp|c|h)$

      - id: ament_uncrustify
        name: ament_uncrustify (ROS2 C/C++ Formatting Check)
        entry: hooks/run_ament_uncrustify.sh
        language: system
        files: \.(cpp|hpp|c|h)$

sourceの削除
  .github/workflows/build_lint.yaml
Due: none

コマンドの修正
  .github/workflows/build_lint.yaml
Due: none

Use consai_game for scenario_test
  .docker/consai-grsim-compose.yml
Due: none

fix workflow
  .github/workflows/scenario_test.yaml
Due: none

checoutの変更
  .github/workflows/build_lint.yaml
Due: none

fix launch command
  .docker/consai-grsim-compose.yml
Due: none

タグをhumble-lightに変更
  .github/workflows/build_lint.yaml
Due: none

testのときにログを出すように変更
  .github/workflows/build_lint.yaml
Due: none

source install/setup.bashの追加
  .github/workflows/build_lint.yaml
Due: none

sourceを使うためにbashの設定を追加
  .github/workflows/build_lint.yaml
Due: none

Update README
  tests/README.md
Due: none

source /opt/ros/humble/setup.bashを追加
  .github/workflows/build_lint.yaml
Due: none

fix: パス関数追加とヒステリシス修正
  consai_game/consai_game/tactic/kick/shoot.py
  consai_game/consai_game/world_model/kick_target_model.py
  consai_game/consai_game/world_model/world_model.py
Due: ament_flake8, ament_pep257, ament-black

build_and_lintを高速化するためdockerコンテナを利用 (#349)
  .github/workflows/build_lint.yaml
Due: none

Pass stop scenario
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

Revert "Pass stop scenario"
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

fix: パス先のリストがNoneのときに落ちる問題修正
  consai_game/consai_game/world_model/kick_target_model.py
Due: ament_flake8, ament_pep257, ament-black

Pass stop scenario (#351)
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

fix: シュートに関するコードのみに修正
  consai_game/consai_game/tactic/kick/shoot.py
  consai_game/consai_game/world_model/kick_target_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257, ament-black

Implement by_cost method
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/by_cost.py
Due: ament_flake8, ament_pep257, ament-black

docstringの追加
  consai_examples/consai_examples/field_observer.py
  consai_examples/consai_examples/operation.py
  consai_examples/consai_examples/referee_parser.py
  consai_examples/consai_examples/robot_operator.py
  consai_examples/consai_examples/role_assignment.py
  consai_examples/consai_examples/role_to_visualize_msg.py
  setup.cfg
Due: ament_flake8, ament_pep257, ament-black

fix: シュートのみに変更とヒステリシス処理修正
  consai_game/consai_game/world_model/kick_target_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257, ament-black

Remove debug message
  consai_game/consai_game/tactic/kick/shoot.py
Due: ament_flake8, ament_pep257, ament-black

Refactor
  consai_game/consai_game/core/role_assignment/methods/by_cost.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257, ament-black

Add by_cost role assignment (#354)
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/by_cost.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257, ament-black

Refactor referee_model using dataclass
  consai_game/consai_game/world_model/referee_model.py
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257, ament-black

Add kickoff_start and penalty_start signal
  consai_game/consai_game/world_model/referee_model.py
Due: ament_flake8, ament_pep257, ament-black

MODE_DIRECT_POSEの処理を追加
  consai_robot_controller/src/controller_component.cpp
Due: ament_cpplint, ament_uncrustify

Add setplay start plays
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/referee_conditions.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

MODE_DIRECT_POSEの処理を追加 (#355)
  consai_robot_controller/src/controller_component.cpp
Due: ament_cpplint, ament_uncrustify

Add kick_off_start and penalty_kick_start plays (#356)
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/referee_conditions.py
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/world_model/referee_model.py
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257, ament-black

remove unused play
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

Kick at our free kick
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

Kick the ball at setplay (#357)
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

ゴール前を守るTacticを作成とボールの速度から予測位置を算出(Playは暫定的にforce start)
  consai_game/consai_game/tactic/defend_goal.py
  consai_game/consai_game/world_model/ball_model.py
Due: ament_flake8, ament_pep257, ament-black

ボールのクリア処理を追加
  consai_game/consai_game/tactic/ball_clear.py
  consai_game/consai_game/tactic/defend_goal.py
Due: ament_flake8, ament_pep257, ament-black
