Repository SSL-Roots/consai_ros2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_flake8, ament_pep257, ament_cpplint, ament_uncrustify

.pre-commit-config.yaml:

repos:
  # Python formatters
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3
        types: [python]

  # ROS2 Linters and Formatters
  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        entry: hooks/run_ament_flake8.sh
        language: system
        types: [python]

      - id: ament_pep257
        name: ament_pep257
        entry: hooks/run_ament_pep257.sh
        language: system
        types: [python]

      - id: ament_cpplint
        name: ament_cpplint
        entry: hooks/run_ament_cpplint.sh
        language: system
        files: \.(cpp|hpp|c|h)$

      - id: ament_uncrustify
        name: ament_uncrustify (ROS2 C/C++ Formatting Check)
        entry: hooks/run_ament_uncrustify.sh
        language: system
        files: \.(cpp|hpp|c|h)$

linterのみを登録
  .pre-commit-config.yaml
  hooks/run_ament_uncrustify.sh
  test_format/test_cpp.cpp
Due: ament_cpplint, ament_uncrustify

reformatの設定を追加
  .pre-commit-config.yaml
  hooks/run_ament_cpplint.sh
  hooks/run_ament_flake8.sh
  hooks/run_ament_uncrustify.sh
  test_format/test_cpp.cpp
Due: ament_cpplint, ament_uncrustify

Fix yellow arg
  consai_game/consai_game/main.py
Due: ament_flake8, ament_pep257

Add robot_activity_model
  consai_game/consai_game/world_model/ball_model.py
  consai_game/consai_game/world_model/robot_activity_model.py
  consai_game/consai_game/world_model/robots_model.py
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

Fix yellow argument to set value correctly. Add RobotActivityModel to world_model. (#333)
  consai_game/consai_game/main.py
  consai_game/consai_game/world_model/ball_model.py
  consai_game/consai_game/world_model/robot_activity_model.py
  consai_game/consai_game/world_model/robots_model.py
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

ament_blackの追加
  .pre-commit-config.yaml
Due: none

各パッケージにC++のLinterとFormatterを追加
  consai_description/package.xml
  consai_examples/package.xml
  consai_game/package.xml
  consai_msgs/package.xml
  consai_robot_control_utils/package.xml
  consai_robot_controller/package.xml
  consai_tools/package.xml
  consai_vision_tracker/package.xml
  consai_visualizer/package.xml
  consai_visualizer_msgs/package.xml
  robocup_ssl_comm/package.xml
  robocup_ssl_msgs/package.xml
Due: none

ball_position_model仮追加
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257

ボールの位置情報を更新し、フィールド内にあるかどうかを判定する機能を追加
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

Define invalid robot id
  consai_game/consai_game/core/tactic/role.py
Due: ament_flake8, ament_pep257

Update robot_activity_model
  consai_game/consai_game/world_model/robot_activity_model.py
Due: ament_flake8, ament_pep257

Refactor play.py
  consai_game/consai_game/core/play/play.py
Due: ament_flake8, ament_pep257

Add role_assignement methods
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/core/role_assignment/assignor.py
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/base.py
  consai_game/consai_game/core/role_assignment/methods/by_id.py
  consai_game/consai_game/core/tactic/agent.py
  consai_game/consai_game/core/tactic/agent_scheduler_node.py
  consai_game/consai_game/main.py
Due: ament_flake8, ament_pep257

Remove decode.py
  consai_game/consai_game/core/tactic/decode.py
Due: ament_flake8, ament_pep257

Add assign argument
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/main.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257

Set PYTHONUNBUFFERED
  consai_game/launch/start.launch
Due: none

Prevent unintentionally resetting the tactic
  consai_game/consai_game/core/tactic/agent.py
Due: ament_flake8, ament_pep257

Reset a play when robots num changed
  consai_game/consai_game/core/play/play_node.py
Due: ament_flake8, ament_pep257

Add role_assignment. (#335)
  consai_game/consai_game/core/play/play.py
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/core/role_assignment/assignor.py
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/base.py
  consai_game/consai_game/core/role_assignment/methods/by_id.py
  consai_game/consai_game/core/tactic/agent.py
  consai_game/consai_game/core/tactic/agent_scheduler_node.py
  consai_game/consai_game/main.py
  consai_game/consai_game/world_model/robot_activity_model.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257

チェック用のファイルを削除
  test_format/test_cpp.cpp
  test_format/test_python.py
Due: ament_flake8, ament_pep257, ament_cpplint, ament_uncrustify

refactor: 不要なコード削除
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257

fix: 更新処理の位置を修正
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

fix: コミット漏れ
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

fix: update処理を修正
  consai_game/consai_game/world_model/ball_position_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

fix: 初期値修正
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257

fix: 初期値を修正
  consai_game/consai_game/world_model/ball_position_model.py
  consai_game/consai_game/world_model/world_model.py
Due: ament_flake8, ament_pep257

add: shoot tacticの追加
  consai_game/consai_game/play/factory/blank_plays.py
  consai_game/consai_game/tactic/kick/shoot.py
Due: ament_flake8, ament_pep257

Fix for lint
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257

Remove ball_is_on_field
  consai_game/consai_game/world_model/world_model.py
Due: ament_flake8, ament_pep257

ball position modelを追加 (#334)
  consai_game/consai_game/world_model/ball_position_model.py
  consai_game/consai_game/world_model/world_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
Due: ament_flake8, ament_pep257

Add ament_black dependencies
  consai_game/package.xml
Due: none

Update README
  README.md
Due: none

pre-commitを追加 (#330)
  .clang-format
  .pre-commit-config.yaml
  README.md
  consai_description/package.xml
  consai_examples/package.xml
  consai_game/package.xml
  consai_msgs/package.xml
  consai_robot_control_utils/package.xml
  consai_robot_controller/package.xml
  consai_tools/package.xml
  consai_vision_tracker/package.xml
  consai_visualizer/package.xml
  consai_visualizer_msgs/package.xml
  hooks/run_ament_cpplint.sh
  hooks/run_ament_flake8.sh
  hooks/run_ament_pep257.sh
  hooks/run_ament_uncrustify.sh
  robocup_ssl_comm/package.xml
  robocup_ssl_msgs/package.xml
Due: none

Add visible assignment
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/by_visible.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257

fix: shootステータスに入る前にボールの後ろに回り込むようにポイントを生成するように修正、robot_modelのdataclass修正
  consai_game/consai_game/core/play/__init__.py
  consai_game/consai_game/tactic/kick/shoot.py
  consai_game/consai_game/world_model/__init__.py
  consai_game/consai_game/world_model/robots_model.py
Due: ament_flake8, ament_pep257

lint修正
  consai_game/consai_game/tactic/kick/shoot.py
Due: ament_flake8, ament_pep257

Update by_visible
  consai_game/consai_game/core/role_assignment/methods/by_visible.py
Due: ament_flake8, ament_pep257

fix: lint修正
  consai_game/consai_game/tactic/kick/shoot.py
Due: ament_flake8, ament_pep257

Remove exception of No applicable plays found
  consai_game/consai_game/core/play/play_node.py
Due: ament_flake8, ament_pep257

Add by_visible role assignment. (#337)
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/core/role_assignment/factory.py
  consai_game/consai_game/core/role_assignment/methods/by_visible.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257
