Repository SSL-Roots/consai_ros2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_flake8, ament_pep257, ament-black, ament_cpplint, ament_uncrustify

.pre-commit-config.yaml:

repos:
  # ROS2 Linters and Formatters
  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        entry: hooks/run_ament_flake8.sh
        language: system
        types: [python]

      - id: ament_pep257
        name: ament_pep257
        entry: hooks/run_ament_pep257.sh
        language: system
        types: [python]

      - id: ament-black
        name: ament_black
        entry: ament_black
        language: system
        types: [python]
        args: [--reformat]

      - id: ament_cpplint
        name: ament_cpplint
        entry: hooks/run_ament_cpplint.sh
        language: system
        files: \.(cpp|hpp|c|h)$

      - id: ament_uncrustify
        name: ament_uncrustify (ROS2 C/C++ Formatting Check)
        entry: hooks/run_ament_uncrustify.sh
        language: system
        files: \.(cpp|hpp|c|h)$

support goalie id in by_id method
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/core/role_assignment/assignor.py
  consai_game/consai_game/core/role_assignment/methods/base.py
  consai_game/consai_game/core/role_assignment/methods/by_id.py
  consai_game/consai_game/main.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257, ament-black

Support goalie id in by_visible method
  consai_game/consai_game/core/role_assignment/methods/by_visible.py
Due: ament_flake8, ament_pep257, ament-black

Support goalie id in role assignment (#338)
  consai_game/consai_game/core/play/play_node.py
  consai_game/consai_game/core/role_assignment/assignor.py
  consai_game/consai_game/core/role_assignment/methods/base.py
  consai_game/consai_game/core/role_assignment/methods/by_id.py
  consai_game/consai_game/core/role_assignment/methods/by_visible.py
  consai_game/consai_game/main.py
  consai_game/launch/start.launch
Due: ament_flake8, ament_pep257, ament-black

fix: コメント対応とshoot->aimの状態遷移追加
  consai_game/consai_game/tactic/kick/shoot.py
  consai_game/package.xml
Due: ament_flake8, ament_pep257, ament-black

Add shoot tactic (#336)
  consai_game/consai_game/core/play/__init__.py
  consai_game/consai_game/play/factory/blank_plays.py
  consai_game/consai_game/tactic/kick/shoot.py
  consai_game/consai_game/world_model/__init__.py
  consai_game/consai_game/world_model/robots_model.py
  consai_game/package.xml
Due: ament_flake8, ament_pep257, ament-black

Rename blank to simple
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

Rename blank to simple (#339)
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

feat: outside判定にヒステリシス追加
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

feat: ディフェンスエリアの判定にヒステリシス追加
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

feat: サイド判定にヒステリシスを追加
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

fix: ヒステリシスしきい値を小さめの値にする
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

Add running method to referee
  consai_game/consai_game/world_model/referee_model.py
Due: ament_flake8, ament_pep257, ament-black

ボールポジション判定にヒステリシス追加 (#340)
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

Implement running play
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/referee_conditions.py
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/world_model/referee_model.py
Due: ament_flake8, ament_pep257, ament-black

Add a running play. (#342)
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/referee_conditions.py
  consai_game/consai_game/play/factory/simple_plays.py
  consai_game/consai_game/world_model/referee_model.py
Due: ament_flake8, ament_pep257, ament-black

設定ファイルを読み込むように変更
  hooks/run_ament_black.sh
  hooks/run_ament_flake8.sh
  hooks/run_ament_pep257.sh
  pyproject.toml
  setup.cfg
Due: none

cmakeの設定にament_flake8を追加
  consai_game/CMakeLists.txt
Due: none

python関係のpre-commitについて，行の長さを120文字までに変更 (#341)
  consai_game/CMakeLists.txt
  hooks/run_ament_black.sh
  hooks/run_ament_flake8.sh
  hooks/run_ament_pep257.sh
  pyproject.toml
  setup.cfg
Due: none

Add running plays
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/ball_conditions.py
  consai_game/consai_game/play/factory/running_plays.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

Add running plays (#343)
  consai_game/consai_game/play/books/playbook_default.py
  consai_game/consai_game/play/conditions/ball_conditions.py
  consai_game/consai_game/play/factory/running_plays.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

concurrencyの設定を追加
  .github/workflows/build_docker_image.yaml
  .github/workflows/build_docker_image_for_ci.yaml
  .github/workflows/build_lint.yaml
  .github/workflows/scenario_test.yaml
Due: none

feat: avoid_ball追加
  consai_game/consai_game/tactic/avoid_ball.py
Due: ament_flake8, ament_pep257, ament-black

フィールドの半分の長さをメンバ変数として用意
  consai_game/consai_game/world_model/ball_position_model.py
Due: ament_flake8, ament_pep257, ament-black

add: kick_shoot_modelの追加
  consai_game/consai_game/world_model/kick_target_model.py
Due: ament_flake8, ament_pep257, ament-black

fix: 120文字制限適応
  consai_game/consai_game/world_model/kick_target_model.py
Due: ament_flake8, ament_pep257, ament-black

変数をfild_model.pyに実装
  consai_game/consai_game/world_model/ball_position_model.py
  consai_game/consai_game/world_model/field_model.py
  setup.cfg
Due: ament_flake8, ament_pep257, ament-black

feat: 名前変更
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

feat: xyの速度制限を追加
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

concurrencyの設定を追加 (#344)
  .github/workflows/build_docker_image.yaml
  .github/workflows/build_docker_image_for_ci.yaml
  .github/workflows/build_lint.yaml
  .github/workflows/scenario_test.yaml
Due: none

SlowSafePosition追加 (#345)
  consai_game/consai_game/tactic/slow_safe_position.py
Due: ament_flake8, ament_pep257, ament-black

world_model_provider_node.pyにフィールド半分の長さなどを実装
  consai_game/consai_game/world_model/world_model_provider_node.py
  setup.cfg
Due: ament_flake8, ament_pep257, ament-black

implement invert_conditions method
  consai_game/consai_game/core/play/play.py
  consai_game/consai_game/play/factory/running_plays.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

フィールドの半分の長さをメンバ変数として用意 (#346)
  consai_game/consai_game/world_model/ball_position_model.py
  consai_game/consai_game/world_model/field_model.py
  consai_game/consai_game/world_model/world_model_provider_node.py
  setup.cfg
Due: ament_flake8, ament_pep257, ament-black

implement invert_conditions method (#347)
  consai_game/consai_game/core/play/play.py
  consai_game/consai_game/play/factory/running_plays.py
  consai_game/consai_game/play/factory/simple_plays.py
Due: ament_flake8, ament_pep257, ament-black

Avoid defense area
  consai_robot_controller/include/consai_robot_controller/tactic/tactic_obstacle_avoidance.hpp
  consai_robot_controller/src/field_info_parser.cpp
  consai_robot_controller/src/tactic/tactic_obstacle_avoidance.cpp
Due: ament_cpplint, ament_uncrustify

Avoid defense area (#348)
  consai_robot_controller/include/consai_robot_controller/tactic/tactic_obstacle_avoidance.hpp
  consai_robot_controller/src/field_info_parser.cpp
  consai_robot_controller/src/tactic/tactic_obstacle_avoidance.cpp
Due: ament_cpplint, ament_uncrustify

build_and_lintを高速化するためdockerコンテナを利用
  .github/workflows/build_lint.yaml
Due: none

タグを変更
  .github/workflows/build_lint.yaml
Due: none

コマンドを変更
  .github/workflows/build_lint.yaml
Due: none

パスの変更
  .github/workflows/build_lint.yaml
Due: none
